{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["env", {
          "useBuiltIns": true,
          "targets": { "node": 7 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": { "node": 7 },
          "useBuiltIns": true
        }],
        "stage-0"
      ]
    },
    "web": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
